@import url('https://fonts.googleapis.com/css?family=Roboto');

.tp-result-container {
  position:fixed;
  bottom:20px;
  background-color: white;
  right:20px;
  box-shadow:0 4px 300px rgba(0,0,0,0.3);
  border-radius:4px;
  width:280px;
  min-height: 280px;
  .search{
    position: relative;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: filter 0.5s;
    &.loading{
      filter: blur(8px);
      pointer-events: none;
    }
    p{
      font-family: 'Roboto', sans-serif;   
      color: #666;  
      margin: 0 0 8px 0 ;
      font-size: 14px;
    }
    input{
      display: block;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 4px;
      line-height: 40px;
      height: 40px;
      text-align: center;
      padding: 0 24px;
      font-size: 16px;
      width: 200px;
      box-sizing: border-box;
      &:focus{
        outline: none;
      }
    }
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size:16px;
    padding: 25px 0 15px;
    strong {
      display: block;
      font-size: 55px;
      line-height: 65px;
    }
  }
  ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li{
      color: #444;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 32px;
      border-top: 1px solid #eee;
      padding-left: 15px;
      span {
        float: right;
        padding-right: 20px;
        padding-left: 10px;
        border-left: 1px solid #eee;
        font-weight: bold;
        text-align: center;
        width: 20px;
        &.alert{
          color: orange  
        }
        &.check{
          color: green
        }
      }
    }
  }
}